
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <title>
        {% block title %}{% endblock %}
    </title>

    {% block header_css %}

    {% endblock %}

    {% block header_js %}

    {% endblock %}
</head>
<body>
    <header class="head">
        <nav class="navbar navbar-expand-lg">
          <a class="navbar-brand" href="{% url 'home:homepage' %}">Blog It!</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
            {% if user.is_authenticated %}
                {% if user.posts.count > 0 %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'articles:article_list' %}">My Blogs</a>
                    </li>
                {% endif %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'articles:article_create' %}">Write a Blog!</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'accounts:logout' %}">Logout</a>
                </li>
            {% else %}
              <li class="nav-item">
                <a class="nav-link" href="{% url 'accounts:login' %}">Sign-In</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'accounts:register' %}">Register</a>
              </li>
            {% endif %}
            </ul>
          </div>
        </nav>
      </header>
    {% block body %}

    {% endblock %}

    <!-- <footer class="footer">
        <div class="container">
          <p>&copy; 2024 Blogging Website. All rights reserved.</p>
          <ul class="footer-links">
            <li><a href="/about">About</a></li>
            <li><a href="/contact">Contact</a></li>
            <li><a href="/privacy-policy">Privacy Policy</a></li>
          </ul>
          <p>Follow us on:
            <a href="https://github.com/akshat0047" target="_blank">GitHub</a> | 
            <a href="https://www.linkedin.com/in/akshat-p-7b05b0121/" target="_blank">LinkedIn</a> | 
            <a href="https://instagram.com/akshat0047" target="_blank">Instagram</a>
          </p>
        </div>
      </footer> -->
</body>

    {% block footer_js %}

    {% endblock %}
</html>