* {
    margin: 0;
}

a{
    color: inherit !important;
    text-decoration: inherit !important;
}

html, body {
    height: auto;
    margin: 0;
    background: rgba(197, 181, 230, 0) !important;
  }

  html {
    background: rgba(197, 181, 230, 0.1) !important;
  }
  
  header{
    position: relative;
    margin-top: 0px;
    width: 100%;
    height: auto;
    z-index: 2;
    background-color: #30336b;
  }
  
  nav{
    border-radius: 0px !important;
    padding-top:1% !important;
    padding-bottom:1% !important;
    font-size: 1.25em;
    color: white;
  }
  
  .navbar-brand {

  }

  nav ul{
    color: white;
    font-weight: 400 !important;
  }
  
  nav ul li{
    position: relative;
    border-radius: 4px;
    transition: all 0.4s;
    padding: 0px !important;
    font-size: 0.7em !important;
  }
  
  .nav-item:hover{
    background-color: rgba(230, 224, 224, 0.5)
  }
  
  /* Footer CSS */
  
  .footer {
    position: relative;
    background-color: #130f40;
    color: #6c757d;
    text-align: center;
    padding: 20px 0;
    font-size: 14px;
    border-top: 1px solid #e9ecef;
  }
  
  
  .footer-links {
    list-style: none;
    padding: 0;
    margin: 10px 0;
    display: flex;
    justify-content: center;
    gap: 15px;
  }
  
  .footer-links li {
    display: inline;
  }
  
  .footer-links a {
    text-decoration: none;
    color: #6c757d;
  }
  
  .footer-links a:hover {
    color: #007bff;
    text-decoration: underline;
  }
  
  .footer p {
    margin: 5px 0;
  }
  
  .footer a {
    color: #6c757d;
    text-decoration: none;
  }
  
  .footer a:hover {
    color: #007bff;
  }
    