{% extends 'articles/_base.html' %}
{% load static %}

{% block header_css %}
<link rel="stylesheet" href="{% static 'css/article_create.css' %}">
{% endblock %}

{% block article-body %}
  <!-- Help Button -->
  <button class="help-btn" id="help-btn">Markdown Tips</button>
  <!-- Help Modal -->
  <div class="modal" id="help-modal">
    <div class="modal-content">
        <h2>Markdown Syntax Guide</h2>
        <ul>
            <li><b>Headers:</b> <code># Header 1</code>, <code>## Header 2</code>, <code>### Header 3</code></li>
            <li><b>Bold:</b> <code>**bold text**</code></li>
            <li><b>Italic:</b> <code>*italic text*</code></li>
            <li><b>Blockquote:</b> <code>> blockquote</code></li>
            <li><b>Lists:</b>
                <ul>
                    <li>Unordered: <code>- Item</code></li>
                    <li>Ordered: <code>1. Item</code></li>
                </ul>
            </li>
            <li><b>Links:</b> <code>[title](https://example.com)</code></li>
            <li><b>Images:</b> <code>![alt text](image_url)</code></li>
            <li><b>Code:</b> Inline <code>`code`</code> or Block:
                <pre>
                  <code>
                    ```
                    code block
                    ```
                </code>
              </pre>
            </li>
        </ul>
        <button class="close-btn" id="close-btn">Close</button>
    </div>
  </div>


  <form class="blog-create-form" method="POST">
    {% csrf_token %}
    <div class="input-group">
      {{form.title}}
    </div>
    <div class="form-container-text">
      {{form.text}}
      <div class="preview" id="markdown-preview"></div>
    </div>
    <button class="create-button" type="submit">Publish</button>
  </form>
{% endblock %}
