/* Main Content */
.main-content {
  max-width: 80%;
  margin: 5vh auto;
  padding: 20px;
  font-family: 'Arial', sans-serif;
}

/* Blog List Grid Layout */
.blog-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-auto-rows: 200px;
  gap: 5vh;
  margin-top: 20px;
  position: relative;
}

.card-img {
  width: 100%;
  height: 70%;
  position: relative;
  overflow: hidden; 
}


.card-img img {
  width: 100%;
  height: 100%;
  object-fit: cover; 
  object-position: center; 
  display: block;
}

.blog-card {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border: #30336b solid 1px;
  padding: 12px;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  cursor: default;
  /* Default Size */
  grid-row: span 1;
  grid-column: span 1;
}

/* Limited Size Variations */
.blog-card:nth-child(6n+1) {
  grid-row: span 2; /* Tall */
  grid-column: span 1;
}

.blog-card:nth-child(6n+2) {
  grid-row: span 1; /* Small */
  grid-column: span 2; /* Wide */
}

.blog-card:nth-child(6n+2) > div {
  height: 40%;
}

.blog-card:nth-child(6n+3) {
  grid-row: span 2; /* Large square */
  grid-column: span 2;
}

.blog-card:nth-child(6n+3) > div {
  height: 65%;
}

.blog-card:nth-child(6n+4) {
  grid-row: span 1;
  grid-column: span 1; /* Small */
}

.blog-card:nth-child(6n+4) > div {
  display: none;
}

.blog-card:nth-child(6n+5) {
  grid-row: span 1; /* Wide */
  grid-column: span 2;
}

.blog-card:nth-child(6n+5) > div {
  height: 40%;
}

.blog-card:nth-child(6n+6) {
  grid-row: span 2; /* Tall */
  grid-column: span 1;
}

/* Hover Effects */
.blog-card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}
  
  /* Blog card title */
  .blog-card h3 {
    font-size: 1.4em;
    margin-bottom: 5px;
    color: #333;
  }
  
  .blog-card h3 a {
    text-decoration: none;
    color: inherit;
  }
  
  .blog-card h3 a:hover {
    color: #007BFF;
  }
  
  /* Blog card content */
  .blog-card p {
    margin: 0;
    color: #555;
    line-height: 1.6;
  }
  
  .blog-card p small {
    display: block;
    margin-top: 5px;
    font-size: 0.7em;
    color: #888;
  }
  
  /* No blogs message */
  .no-blogs {
    text-align: center;
    color: #777;
    font-size: 1.2em;
    padding: 20px;
  }
  
  /* Responsive design */
  @media (max-width: 768px) {
    .blog-list {
      grid-template-columns: 1fr;
    }
  }